.chip {
  border-radius: 50%;
}

.black-chip {
  background-color: black;
  border: 1px solid black;
  color: $font-color-alt
}

.white-chip {
  background-color: white;
  border: 1px solid black;
}