body {
  background-color: #A18773;
}

main {
  max-height: 90vh;
}

.clickable {
  cursor: pointer;
}

a.button, button {
  text-decoration: none;
  color: $font-color-alt;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 3px;
  padding: .5rem;
  background-color: $headings;

  &:hover {
    color: $headings;
    background-color: $font-color-alt;
  }
}